.index {
  background-color: @dark-two;
  position: relative;
}

.index__wrapper {
  position: relative;
}

.header--scroll + .index {
  padding-top: 93px;
}

@media (min-width: 768px) {
  .index {
    background-color: @dark-blue-grey;
  }

  .header--scroll + .index {
    padding-top: 163px;
  }
}

@media (min-width: 1440px) {
  .index {
    margin-top: -1px;
  }

  .header--scroll + .index {
    padding-top: 100px;
  }
}

@import "review/review";
@import "about/about";
@import "direction/direction";
@import "companions/companions";
@import "offer/offer";
@import "reg/reg";
@import "map/map";
@import "descr-block";
@import "motivator";
