.footer {
  padding: 38px 0 24px 0;
  background-color: white;
  border-radius: 25px 25px 0 0;
  position: relative;
  z-index: 3;
  margin-top: -155px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &::after {
    content: "";

    width: 270px;
    height: 1px;
    position: absolute;
    bottom: 66px;
    left: 25px;

    background-color: @grey-5;
  }
}

.footer__develop {
  width: 269px;
  margin-left: 0;
  position: relative;
  order: 3;

  &::after {
    content: "";

    display: block;
    position: absolute;
    top: -7px;
    right: -1px;
    width: 27px;
    height: 34px;

    background-size: 27px 34px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url("../img/htmlacademy.svg");
  }
}

.footer--form {
  margin-top: -202px;
}

@media (min-width: 768px) {
  .footer {
    padding: 48px 40px 46px 40px;
    margin-top: -119px;
    justify-content: space-between;
    border-radius: 50px 50px 0 0;

    &::after {
      display: none;
    }
  }

  .footer__develop {
    width: 152px;
    margin: 17px 2px 0 0;

    font-size: 20px;
    line-height: 24px;

    &::after {
      right: -2px;
      top: -3px;
    }
  }

  .footer--catalog {
    margin-top: -100px;
    border-radius: 57px 57px 0 0;
  }

  .footer--form {
    border-radius: 54px 54px 0 0;
    margin-top: -160px;
  }
}

@media (min-width: 1440px) {
  .footer {
    padding: 48px 60px 46px 60px;
    margin-top: -152px;
    justify-content: space-between;
    border-radius: 60px 60px 0 0;
  }

  .footer__develop {
    width: 152px;
    margin-left: 0;

    font-size: 20px;
    line-height: 24px;
  }

  .footer--catalog {
    padding-top: 49px;
  }

  .footer--form {
    padding-top: 48px;
    margin-top: -163px;
  }
}
