.slogan {
  width: 96px;
  height: 19px;
  display: block;

  background-image: url("../img/logo-mobile-white@1x.png");
  background-size: 100px 19px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slogan--footer {
  display: block;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 41px;

  text-align: center;
  background-image: url("../img/logo-mobile-blue@1x.png");
}
