.slogan {
  width: 295px;
  height: 19px;
  display: block;
  padding: 19px 0 51px 25px;
  margin-left: -25px;
  position: relative;
  order: 7;

  background-image: url("../img/logo-mobile-white@1x.png");
  background-size: 100px 19px;
  background-repeat: no-repeat;
  background-position: 25px 19px;
  background-color: @dark-two;
}

.slogan--footer {
  display: block;
  width: 100px;
  margin: 0 auto 41px;
  padding: 0;

  text-align: center;
  background-image: url("../img/logo-mobile-blue@1x.png");
  background-color: transparent;
  background-position: 0 0;
}
