.social-list {
  display: flex;
}

.social-list__item {
  width: 45px;
  height: 45px;
  border-radius: 50%;

  &:first-child {
    background-image: url("../img/facebook.svg");
    background-repeat: no-repeat;
    background-position: 17px 12px;
    background-size: 11px 21px;
  }

  &:nth-child(2) {
    background-image: url("../img/vk.svg");
    background-repeat: no-repeat;
    background-position: 12px 16.5px;
    background-size: 21px 12px;
  }

  &:last-child {
    background-image: url("../img/instagram.svg");
    background-repeat: no-repeat;
    background-position: 14px 14px;
    background-size: 18px 18px;
  }
}

.social-list--footer {
  margin-bottom: 60px;
  order: 2;
}

.social-list__item--footer {
  background-color: @light-gold;
}

@media (min-width: 768px) {
  .social-list__item {
    width: 60px;
    height: 60px;

    &:first-child {
      background-image: url("../img/facebook.svg");
      background-repeat: no-repeat;
      background-position: 23px 16px;
      background-size: 14px 28px;
    }

    &:nth-child(2) {
      background-image: url("../img/vk.svg");
      background-repeat: no-repeat;
      background-position: 14px 23px;
      background-size: 31px 16px;
    }

    &:last-child {
      background-image: url("../img/instagram.svg");
      background-repeat: no-repeat;
      background-position: 18px 18px;
      background-size: 24px 24px;
    }
  }

  .social-list--footer {
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .social-list__item {
    width: 60px;
    height: 60px;

    &:first-child {
      background-image: url("../img/facebook.svg");
      background-repeat: no-repeat;
      background-position: 23px 16px;
      background-size: 14px 28px;
    }

    &:nth-child(2) {
      background-image: url("../img/vk.svg");
      background-repeat: no-repeat;
      background-position: 14px 23px;
      background-size: 31px 16px;
    }

    &:last-child {
      background-image: url("../img/instagram.svg");
      background-repeat: no-repeat;
      background-position: 18px 18px;
      background-size: 24px 24px;
    }
  }
}
