.tag-list {
  width: 177px;
  display: flex;
  margin: 0 0 17px 47px;

  justify-content: center;
  flex-wrap: wrap;
}

.tag-list__item {
  margin-left: 3px;
}

.tag-list--traveler {
  margin: 0 0 20px 0;
  justify-content: left;
}
