.tag-list {
  width: 180px;
  display: flex;
  margin: 0 auto 7px 46px;

  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}

.tag-list--demin {
  margin-left: 55px;
}

.tag-list__item {
  margin-right: 4px;

  line-height: 16px;
}

.tag-list--traveler {
  grid-row: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0 0 15px 0;
  justify-content: left;
}

@media (min-width: 768px) {
  .tag-list {
    width: 250px;
    display: flex;
    margin: 0 auto 12px;

    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .tag-list__item {
    font-size: 20px;
    line-height: 24px;
  }

  .tag-list--traveler {
    width: auto;
    margin: 0 0 45px 2.5px;
    grid-row: 2;
    grid-column: 2;
    justify-content: flex-start;
  }

  .tag-list__item--traveler {
    margin-right: 5.5px;
  }

  .traveler-list__item:nth-child(2) .tag-list--traveler {
    margin-bottom: 47px;
  }
}

@media (min-width: 1440px) {
  .tag-list--companions {
    box-sizing: border-box;
    padding-left: 6px;
    margin-bottom: 13px;
  }

  .tag-list__item--companions {
    margin-right: 6px;
  }

  .tag-list--traveler {
    width: 250px;
    margin-bottom: 0;
    grid-column: 2;
    grid-row: 3;

    align-content: flex-start;
  }

  .traveler-list__item:nth-child(2) .tag-list--traveler {
    margin-bottom: 0;
  }
}
