.tag-list {
  width: 177px;
  display: flex;
  margin: 0 0 17px 47px;

  justify-content: center;
  flex-wrap: wrap;
}

.tag-list__item {
  margin-left: 3px;
}

.tag-list--traveler {
  margin: 0 0 20px 0;
  justify-content: left;
}

.tag-list--me {
  width: 211px;
  justify-content: flex-start;
  margin: 0 0 19px 0;
  padding: 26px 33px 25px 26px;

  border: 1px solid @cloudy-blue;
  border-radius: 10px;
}
