.transport-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 auto 21px auto;
}

.transport-list--cycle {
  margin: 0 0 20px 0;
}

.transport-list__item {
  width: 33px;
  height: 32px;
  position: relative;

  &::after {
    content: "";

    width: 33px;
    height: 32px;

    display: block;
    position: absolute;
    top: 0;
    left: 0;

    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.2;
  }

  &:nth-child(1)::after {
    background-size: 19px 21px;
    background-image: url("../img/plane.svg");
  }

  &:nth-child(2)::after {
    background-size: 17px 21px;
    background-image: url("../img/bus.svg");
  }

  &:nth-child(3)::after {
    background-size: 24px 21px;
    background-image: url("../img/bike.svg");
  }

  &:nth-child(4)::after {
    background-size: 20px 21px;
    background-image: url("../img/run.svg");
  }
}

.transport-list__item--active::after {
  opacity: 1;
}

.transport-list__item--cycle {
  border-radius: 50%;
  background-color: @grey;

  &:nth-child(1)::after {
    background-size: 14px 16px;
    background-position: 9px 8px;
  }

  &:nth-child(2)::after {
    background-size: 13px 16px;
    background-position: 10px 8px;
  }

  &:nth-child(3)::after {
    background-size: 19px 17px;
    background-position: 7px 7.5px;
  }

  &:nth-child(4)::after {
    background-size: 15px 17px;
    background-position: 9px 7.5px;
  }
}

.transport-list--filter-companion {
  margin: 18px 0 0 0;
}

.transport-list__item--white {
  background-color: white;
}

.transport-list--me {
  display: flex;
  width: 270px;
  height: 63px;
  margin: 0;
  justify-content: center;
  align-items: center;

  border: 1px solid @cloudy-blue;
  border-radius: 10px;
}

.transport-list--traveler {
  grid-row: 7;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media (min-width: 768px) {
  .transport-list {
    margin: 0;
  }

  .transport-list--cycle {
    margin: 0;
  }

  .transport-list__item {
    width: 43px;
    height: 43px;

    &::after {
      width: 43px;
      height: 43px;

      opacity: 0.15;
    }

    &:nth-child(1)::after {
      background-size: 19px 21px;
    }

    &:nth-child(2)::after {
      background-size: 17px 21px;
    }

    &:nth-child(3)::after {
      background-size: 24px 21px;
    }

    &:nth-child(4)::after {
      background-size: 20px 21px;
    }
  }

  .transport-list__item--cycle {
    &:nth-child(1)::after {
      background-size: 19px 21px;
      background-position: 11px 11px;
    }

    &:nth-child(2)::after {
      background-size: 17px 21px;
      background-position: 13px 10px;
    }

    &:nth-child(3)::after {
      background-size: 24px 21px;
      background-position: 10px 10px;
    }

    &:nth-child(4)::after {
      background-size: 20px 21px;
      background-position: 11px 11px;
    }
  }

  .transport-list--filter-companion {
    margin: -8px 0 0 0;
  }

  .transport-list--traveler {
    display: flex;
    flex-wrap: wrap;
    width: 45px;
  }

  .transport-list--me {
    grid-column: 3;
    grid-row: 1;
    width: 308px;
    height: 94px;
    margin-bottom: 60px;
  }

  .transport-list__item--traveler {
    background-color: transparent;
  }

  .transport-list__item--active::after {
    opacity: 1;
  }
}

@media (min-width: 1440px) {
  .transport-list--traveler {
    flex-wrap: nowrap;
    width: auto;

    //justify-self: flex-start;
  }

  .transport-list__item--traveler {
    background-color: transparent;
  }

  .transport-list--me {
    width: 384px;
  }

}
