@black-grey: #444444;
@light-gold: #ffd74b;
@mango-two: #ffbd30;
@mango: #ff8d30;
@mango-three: #ffa530;
@dark-blue-grey: #192144;
@dark-blue-grey-two: #121936;
@dark-two: #161c35;
@greyish-brown-30: rgba(68, 68, 68, 0.3);
@dark-state-blue: #1d2e5b;
@grey: #edeff6;
@grey-four: #e2e5f2;
