@black-grey: #444444;
@light-gold: #ffd74b;
@mango-two: #ffbd30;
@mango: #ff8d30;
@mango-three: #ffa530;
@dark-blue-grey: #192144;
@dark-blue-grey-two: #121936;
@dark-blue-grey-30: rgba(25, 33, 68, 0.3);
@orange-red: #ff5c23;
@dark-two: #161c35;
@dark-two-30: rgba(22, 28, 53, 0.3);
@greyish-brown-30: rgba(68, 68, 68, 0.3);
@greyish-brown-60: rgba(68, 68, 68, 0.6);
@dark-state-blue: #1d2e5b;
@dark-state-blue-30: rgba(29, 46, 91, 0.3);
@dark-state-blue-10: rgba(29, 46, 91, 0.1);
@grey: #edeff6;
@grey-four: #e2e5f2;
@light-blue-grey: #d1d7e9;
@light-blue-grey-five: #d4d9eb;
@light-blue-grey-two: #d6d9e6;
@pale-grey-two: #dfe3f0;
@pale-grey-three: #e2e5f1;
@grey-five: #f3f4f8;
@cloudy-blue: #cbced9;
@cloudy-blue-two: #aeb4cb;
@black-30: rgba(0, 0, 0, 0.3);
@black-60: rgba(0, 0, 0, 0.6);
@light-navy: #132576;
@salmon: #f97676;
@green-apple: #81e31e;
@macaroni-and-cheese: #f3c72b;
@light-periwinkle: #d6daed;
@grey-50: #ebedf2;
@pinkish-grey: #cccccc;
@grey-5: #f2f2f2;
@dusty-orange: #f26926;
@bluey-grey: #959bb2;
@dark-blue-grey-three: #101d41;
