.manage-list {
  margin-bottom: 30px;
  display: flex;
}

.manage-list__phone, .manage-list__mail {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  position: relative;
  &::after {
    position: absolute;
  }
}

.manage-list__phone {
  background-color: @mango;

  &::after {
    content: "";

    display: block;
    width: 18px;
    height: 18px;

    top: 10px;
    left: 12px;

    background-image: url("../../img/topmenu-phone.svg");
  }
}

.manage-list__mail {
  background-color: @mango-two;

  &::after {
    content: "";

    display: block;
    width: 18px;
    height: 14px;

    top: 14px;
    left: 12px;

    background-image: url("../../img/topmenu-mail.svg");
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .manage-list {
    .visually-hidden;
  }
}

@media (min-width: 1440px) {
  .manage-list {
    .visually-hidden;
    position: absolute;
    top: -40px;
    right: 60px;

  }

  .manage-list__phone, .manage-list__mail {
    width: 50px;
    height: 50px;
  }

  .manage-list__phone::after {
    top: 16px;
    left: 17px;
  }

  .manage-list__mail::after {
    top: 18px;
    left: 16px;
  }
}
