.filter-country {
  width: 320px;
  margin: -30px -25px 24px -25px;
  padding: 46px 0 13px 0;
  border-radius: 0 0 20px 20px;
  position: relative;
  z-index: 3;

  background-color: @grey-four;
}

@media (min-width: 768px) {
  .filter-country {
    width: 619px;
    margin: -50px -40px 46px -40px;
    padding: 108px 75px 54px 74px;
    border-radius: 0 0 57px 57px;

  }
}

@media (min-width: 1440px) {
  .filter-country {
    width: 1245px;
    margin: 0 -60px 46px -60px;
    padding: 107.5px 115px 59px 80px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -50px;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
  }
}
