.filter-companion {
  padding: 26px 25px 22px 26px;
  margin-bottom: 28px;
  border-radius: 20px;

  background-color: @light-gold;
}

.filter-companion__list {
  position: relative;

  &::before {
    content: "";

    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 200px;
    height: 1px;

    background-color: black;
    opacity: 0.05;
  }
}

.filter-companion__item {
  padding: 13px 0;
  position: relative;

  &::after {
    content: "";

    display: block;
    position: absolute;
    bottom: 0;
    left: 0;

    width: 200px;
    height: 1px;

    background-color: black;
    opacity: 0.05;
  }
}

.filter-companion__sublist--level {
  display: flex;
}

.filter-companion__subitem--level {
  width: 111px;
}

@media (min-width: 768px) {
  .filter-companion {
    margin-bottom: 40px;
    padding: 37px 35px 38px 35px;
  }

  .filter-companion__list {
    position: relative;

    &::before {
      width: 618px;
    }
  }

  .filter-companion__item {
    padding: 34px 0;
    display: flex;

    &::after {
      width: 618px;
    }
  }

  .filter-companion__sublist {
    width: 492px;
    display: grid;
    grid-template-columns: 169px 173px 150px;

    font-size: 20px;
    line-height: 20px;
  }

  .filter-companion__sublist--transport {
    display: flex;
  }

  .filter-companion__sublist--level {
    //display: flex;
    //justify-content: flex-end;
  }

  .filter-companion__subitem--level {
    grid-column: 3;
    grid-row: 1;
    width: 75px;
    margin-top: -10px;

    &:last-child {
      justify-self: flex-end;
    }
  }
}

@media (min-width: 1440px) {
  .filter-companion {
    margin: 0;
    padding: 48px;
    grid-column: 2;
    grid-row-start: 3;
  }

  .filter-companion__list {
    position: relative;

    &::before {
      display: none;
    }
  }

  .filter-companion__item {
    padding: 0;
    display: list-item;

    &::after {
      display: none;
    }
  }

  .filter-companion__sublist {
    width: 189px;
    margin-bottom: 33px;
    display: flex;
    flex-wrap: wrap;
  }

  .filter-companion__sublist--food,
  .filter-companion__sublist--hobby {
    .visually-hidden;
  }

  .filter-companion__sublist--transport {
    display: flex;
  }

  .filter-companion__sublist--level {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 43px;
  }

  .filter-companion__subitem--level {
    width: 94px;
    margin-top: 0;
  }
}
