@media (min-width: 768px) {
  .level-range {
    display: block;
    width: 75px;
    height: 46px;
    border: 1px solid @cloudy-blue;

    line-height: 46px;
    text-align: center;
  }
}

@media (min-width: 1440px) {
  .level-range {
    width: 92px;
  }
}
