@import "companion-list.less";

.companions {
  padding: 120px 25px 0 25px;
  border-radius: 20px;
  position: relative;
  z-index: 4;

  background-color: @dark-state-blue;
}

.companions__descr {
  width: 230px;
}
