.traveler-list {
  width: 270px;
  margin-bottom: 21px;
}

.traveler-list__item {
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 16px 25px 21px 25px;
  display: grid;
  grid-template-columns: 79px 103px 40px;
  position: relative;
  background-color: white;
}

.traveler-list__item:nth-child(2) .adventure-list--catalog {
  margin-bottom: 11px;
}

.traveler-list__item:nth-child(3) .adventure-list--catalog {
  margin-bottom: 8px;
}

.traveler-list__item:nth-child(4) .adventure-list--catalog {
  margin-bottom: 11px;
}

@media (min-width: 768px) {
  .traveler-list {
    width: 688px;
    margin-bottom: 41px;
  }

  .traveler-list__item {
    margin-bottom: 40px;
    padding: 33px 35px 8px 35px;

    display: grid;
    grid-template-columns: 224px 252px 152.5px;
    grid-template-rows:
      minmax(29px, max-content)
      minmax(24px, max-content)
      minmax(50px, max-content)
      minmax(18px, max-content)
      minmax(27px, max-content);
    align-content: flex-start;
    align-items: flex-start;

    &:nth-child(2) {
      padding: 32px 35px 10px 35px;
    }

    &:nth-child(3) {
      padding-bottom: 15px;
      margin-bottom: 40px;
    }

    &:nth-child(4) {
      padding: 33px 35px 13px 35px;
    }
  }
}

@media (min-width: 1440px) {
  .traveler-list {
    width: 950px;
    margin-bottom: 61px;
  }

  .traveler-list__item {
    margin-bottom: 30px;
    padding: 0;

    display: grid;
    grid-template-columns: 345px 330px 180px 104px;
    grid-template-rows: 47px minmax(49px, min-content) minmax(91px, min-content) 97px;
    align-content: flex-start;

    &:nth-child(2),
    &:nth-child(4) {
      padding: 0;
    }

    &:nth-child(3) {
      padding-bottom: 0;
      margin-bottom: 29px;
    }
  }
}
