@import "../slogan.less";
@import "nav.less";

.header {
  width: 270px;
  padding: 0 25px 24px 25px;
  position: relative;

  background-color: @dark-two;
}

.header--open {
  background-color: transparent;
}

.header--catalog {
  padding-bottom: 57px;
}

.header--scroll {
  padding-bottom: 3px;
  position: fixed;
  top: 0;
  left: auto;
  right: auto;
  z-index: 9;

  background-color: white;
}

@media (min-width: 768px) {
  .header {
    width: 688px;
    height: 45px;
    padding: 46px 40px 73px 40px;
    background-color: @dark-blue-grey;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .header--dark {
    background-color: @dark-two;
  }

  .header--open {
    background-color: white;
  }

  .header--scroll {
    padding-top: 44px;
    padding-bottom: 42px;
    background-color: white;
  }

  .header--scroll .header--dark {
    background-color: red;
  }
}

@media (min-width: 1440px) {
  .header {
    width: 1320px;
    padding: 47px 60px 0 60px;
    height: auto;

    display: flex;
    background-color: @dark-two;
  }

  .header--catalog {
    padding-bottom: 65px;
  }

  .header--scroll {
    padding-top: 19px;
    padding-bottom: 18px;
    background-color: white;
  }
}
